<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Creative CV</a>
    <div class="collapse navbar-collapse  justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav"> 
        <a class="nav-link active" aria-current="page" href="#">ABOUT</a>
        <a class="nav-link" href="#">SKILLS</a>
        <a class="nav-link" href="#">PORTFOLIO</a>
        <a class="nav-link" href="#">EXPERIENCE</a>
        <a class="nav-link" href="#">CONTACT</a>
      </div>
    </div>
  </div>
</nav>
